streamlit>=1.31.0
python-dotenv>=1.0.0
pg8000>=1.30.3
langchain>=0.1.7
langchain-core>=0.1.22
langchain-anthropic>=0.1.1
langgraph>=0.0.23

#DEFINED SEPERATELY IN ANSIBLE requirements SO ADD ANY CHANGES THERE TOO
