[Unit]
Description=Streamlit Application
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory=/opt/streamlit-app
Environment="PYTHONPATH=/opt/streamlit-app"
ExecStart=/opt/streamlit-app/venv/bin/streamlit run /opt/streamlit-app/agent_app/streamlit_app.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/streamlit-app.log
StandardError=append:/var/log/streamlit-app.log

[Install]
WantedBy=multi-user.target
